# Python
__pycache__/
*.pyc

# Virtual Environment
.venv/
venv/

# Datasets
Backend/data/

# Models
Backend/models/

# YOLO
runs/
*.pt
*.onnx
*.pkl

# Cache
*.cache

# VS Code
.vscode/

# Logs
*.log

# Environment
.env

# Database
*.db
