# Python
__pycache__/
*.pyc

# Virtual Environment
.venv/
venv/

# YOLO Training
runs/
*.pt
*.onnx

# Datasets
Backend/data/roof_segmentation/
Backend/data/solar_panel/

# Cache
*.cache

# VS Code
.vscode/

# Logs
*.log

# Environment Variables
.env

# Database
*.db